<ion-header [translucent]="false">
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Valor monedas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{dolar.nombre}}</ion-card-title>
      <ion-card-subtitle>Valor en CLP: ${{dolar.valor}}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{uf.nombre}}</ion-card-title>
      <ion-card-subtitle>Valor en CLP: ${{uf.valor}}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ivp.nombre}}</ion-card-title>
      <ion-card-subtitle>Valor en CLP: ${{ivp.valor}}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{dolar_intercambio.nombre}}</ion-card-title>
      <ion-card-subtitle>Valor en CLP: ${{dolar_intercambio.valor}}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{euro.nombre}}</ion-card-title>
      <ion-card-subtitle>Valor en CLP: ${{euro.valor}}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{utm.nombre}}</ion-card-title>
      <ion-card-subtitle>Valor en CLP: ${{utm.valor}}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{bitcoin.nombre}}</ion-card-title>
      <ion-card-subtitle>Valor en Dolar: ${{bitcoin.valor}}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>
