<ion-header [translucent]="false">
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button swipe-gesture="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Convertidor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{dolar.valor * moneda}}</ion-card-title>
      <ion-card-subtittle>Convertidor Dolar a CLP</ion-card-subtittle>
      <ion-input [(ngModel)]="moneda" placeholder="Ingrese dolares a convertir"></ion-input>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{uf.valor * monedauf}}</ion-card-title>
      <ion-card-subtittle>Convertidor UF a CLP</ion-card-subtittle>
      <ion-input [(ngModel)]="monedauf" placeholder="Ingrese dolares a convertir"></ion-input>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{euro.valor * monedaeuro}}</ion-card-title>
      <ion-card-subtittle>Convertidor Euro a CLP</ion-card-subtittle>
      <ion-input [(ngModel)]="monedaeuro" placeholder="Ingrese dolares a convertir"></ion-input>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{utm.valor * monedautm}}</ion-card-title>
      <ion-card-subtittle>Convertidor UTM a CLP</ion-card-subtittle>
      <ion-input [(ngModel)]="monedautm" placeholder="Ingrese dolares a convertir"></ion-input>
    </ion-card-header>
  </ion-card>
  
</ion-content>
