<ion-header [translucent]="false">
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Bienvenido!!</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  
  <div id="container" class="ion-padding">
    <ion-card>
      <img src="./../../../assets/img/welcome.jpg" />
      <ng-container *ngIf="user$ | async as usuario">
        <ion-card-header>
          <ion-card-title>{{usuario.email}}</ion-card-title>
          <ion-card-subtitle>Bienvenidoo</ion-card-subtitle>
        </ion-card-header>
      </ng-container>
      <ion-card-content>
        Nuestra aplicacion de QR
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
