<ion-header [translucent]="false">
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Bienvenido!!</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  
  <div id="container" class="ion-padding">
    <strong>Bienvenido a la app de Aplicaciones móviles!</strong>
    <p>El objetivo de la presente aplicación es servir como evaluación para la asignatura de Desarrollo de Aplicaciones Móviles</p>
  </div>

</ion-content>
