<ion-header [translucent]="false">
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sobre nosotros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card>
    <ion-card-header>
      <img src="assets/img/1person.png">
      <ion-card-subtitle>Programador</ion-card-subtitle>
      <ion-card-title>Cristopher Vallejos</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Programador de aplicaciones moviles en IOS y ANDROID, con mas de 13 proyectos realizados en pequeñas y grandes empresas
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <img src="assets/img/2person.png">
      <ion-card-subtitle>Programador</ion-card-subtitle>
      <ion-card-title>Juan Andres Lazo</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Programador de backend, certificado en AWS con mas de 4 años de experiencia
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <img src="assets/img/3person.png">
      <ion-card-subtitle>Analista QA</ion-card-subtitle>
      <ion-card-title>Brayan Peñaloza</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Analista QA, con mas de 5 años de experiencia siendo jefe de QA. Trabajando en grandes empresas nacionales e internacionales
    </ion-card-content>
  </ion-card>

  
</ion-content>
