<ion-header [translucent]="false">
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Creacion de alumno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button>
      <label for="input" style="font-size: 20pt; padding: 30px">
        +
      </label>
      <input id="input" type="file" class="hideInput" (change)="cargarImagen($event)">
    </ion-fab-button>
  </ion-fab>
  
<form (ngSubmit)="onSubmit()" [formGroup]="formulario" novalidate>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input formControlName="nombre"></ion-input>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Apellido</ion-label>
      <ion-input formControlName="apellido"></ion-input>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Edad</ion-label>
      <ion-input type="number" formControlName="edad"></ion-input>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Rut</ion-label>
      <ion-input formControlName="rut"></ion-input>
    </ion-item>
  </ion-list>
    <ion-img [src]="image" *ngFor="let image of images" width="200" ></ion-img>
  <ion-button color="warning" type="submit" expand="block">Registrar Alumno</ion-button>
</form>

</ion-content>
